---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import MainContainer from "../layouts/MainContainer.astro";
import { render } from "astro:content";
import Article from "../components/Article.astro";

const posts = await getCollection("blog");
const postsWithTime = (
  await Promise.all(
    posts.map(async (post) => {
      const { remarkPluginFrontmatter } = await render(post);
      return {
        ...post,
        readingTime: remarkPluginFrontmatter.minutesRead,
      };
    })
  )
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainContainer>
      <main class="py-6 h-screen space-y-6">
        <section>
          <ul class="space-y-4">
            {postsWithTime.map((post) => <Article post={post} />)}
          </ul>
        </section>
      </main>
    </MainContainer>
  </body>
</html>
