---
const today = new Date();
---

<footer class="w-full bg-gray-100 border border-gray-900 font-mono">
  <div class="container mx-auto py-8">
    &copy; {today.getFullYear()}
    <a href="https://github.com/putuhema" target="_blank">@putuhema</a>. All
    rights reserved.
  </div>
</footer>
