---
import "../styles/global.css";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const formattedDate = () => {
  const date = new Date();
  return date.getFullYear();
};
---

<header class="space-y-4">
  <div class="container mx-auto space-y-6 p-4 md:p-0">
    <div class="flex items-center justify-between">
      <p>Vol. MCMXCIX No. 17</p>
      <p>{formattedDate()}</p>
    </div>
    <h2
      class="font-serif text-5xl lg:text-6xl sm:text-7xl md:text-8xl text-center font-bold tracking-tighter uppercase"
    >
      {SITE_TITLE}
    </h2>
    <div class="flex items-center justify-between">
      <p>Est. 2025</p>
      <p>RSMT Edition</p>
    </div>
  </div>
  <nav class="p-2 font-mono border-y">
    <div class="container mx-auto flex items-center gap-8">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/cari">Search</HeaderLink>
    </div>
  </nav>
</header>
