---
import "../styles/global.css";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";

const formattedDate = () => {
  const date = new Date();
  return date.getFullYear();
};

const tags = [
  ...new Set(
    (await getCollection("blog")).map((post) => post.data.tags).flat()
  ),
].sort((a, b) => a.localeCompare(b));
---

<header class="space-y-4">
  <div class="container mx-auto space-y-6 p-4 md:p-0">
    <div class="flex items-center justify-between">
      <p>Vol. MCMXCIX No. 17</p>
      <p>{formattedDate()}</p>
    </div>
    <h2
      class="font-serif text-5xl lg:text-6xl sm:text-7xl md:text-8xl text-center font-bold tracking-tighter uppercase"
    >
      {SITE_TITLE}
    </h2>
    <div class="flex items-center justify-between">
      <p>Est. 2025</p>
      <p>RSMT Edition</p>
    </div>
  </div>
  <nav class="p-2 font-mono border-y">
    <div class="container mx-auto flex items-center justify-between gap-8">
      <ul
        class="flex uppercase gap-2 items-center justify-evenly md:justify-start w-full"
      >
        <HeaderLink href="/">Home</HeaderLink>
        {
          tags.map((tag) => (
            <HeaderLink href={`/tags/${tag}`}>{tag}</HeaderLink>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
