---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<div class="bg-[#f9f7f1] min-h-svh">
  <Header />
  <div class="container mx-auto">
    <slot />
  </div>
  <Footer />
</div>
